/*See gui.ExpressionEvaluatorPopup*/

.command{
     -fx-fill: #ffa500 !important;
}

.string{
     -fx-fill: #008000 !important;
}

.number{
     -fx-fill: #119ac5 !important;
}

.magic-var{
    -fx-fill: #ff0000 !important;
    -fx-font-style: italic !important;
}

.comment{
    -fx-fill: gray !important;
};
