/*Makes the node have rounded edges*/
.rounded-node{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
/*Used for when input in a text field is bad*/
.bad-input-text-field{
    -fx-background-color: red;
    -fx-text-fill:white;
}
.close-button{
    -fx-background-color: red;
    -fx-text-fill:white;
    -fx-background-radius:0px;
    -fx-font-size: 10px;
}
.hyper-link-fixed-color{
    -fx-text-fill:-fx-text-background-color;
}

.deprecated-menu-item .label .text {
    -fx-strikethrough: true;
}